body,
html {
  font-family: "Baloo 2", cursive;
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.hero {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/042/960/123/small_2x/ai-generated-gamepad-in-the-hands-of-a-gamer-on-a-technological-background-neon-lighting-video-games-online-with-friends-winnings-prizes-fun-entertainment-youth-culture-virtual-reality-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: "Baloo 2", cursive;
}
.content {
  flex: 1;
  padding: 20px;
}
.texto-a {
  background-color: rgb(134, 11, 241);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Baloo 2", cursive;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-principal {
  display: flex;
  line-height: 90px;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-family: "Baloo 2", cursive;
}
.titulo-secundario {
  display: flex;
  justify-content: center;
  color: white;
  line-height: 45px;
  font-size: 40px;
  font-family: "Baloo 2", cursive;
}

.center-button {
  background-color: #8c38cc;
  color: white;
  border: 3px;
  padding: 5px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
}
.texto-botao {
  background-color: #8c38cc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.botao-tag-secundaria {
  text-decoration: none;
  font-size: 0px;
  color: white;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #5a009d;
  color: white;
  padding: 20px;
  text-align: center;
}
footer a {
  border: 3px solid black;
  border-radius: 50px;
  padding: 10px;
  background-color: #8c38cc;
  text-decoration: none;
  color: white;
}

.menu {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.privacidade {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.sobre {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.termos {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
.sobre-button {
  background-color: #8c38cc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.sobre-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #5a009d;
}
.fundoimg {
  opacity: 95%;
  background-image: 95%;
}
.login-text {
  border: 3px;
  border-radius: 15px;
  background-color: #8c38cc;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: blueviolet;
  background-color: rgb(38, 31, 44);
  border-radius: 13px;
  padding: 3px;
}
.login-align {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.register-button {
  background-color: #8c38cc;
  color: white;
  border: 3px;
  padding: 5;
  font-size: 15px;
  border-radius: 13px;
}
